{:user {:plugins [[lein-swank "1.4.5"]
                  [lein-ancient "0.6.3"]
                  [com.jakemccrary/lein-test-refresh "0.7.0"]
                  [lein-cloverage "1.0.2"]
                  [cider/cider-nrepl "0.10.0-SNAPSHOT"]
                  [refactor-nrepl "1.2.0-SNAPSHOT"]
                  [lein-cljfmt "0.1.10"]
                  [lein-droid "0.3.5"]]
        :jvm-opts ["-Xmx512m"]}
 :auth {:repository-auth {{ "{#" }}"clojars" {:username "{{ clojars_username }}"
                                      :password "{{ clojars_password }}"}}}}
