emacs.font: 9x15 
emacs.foreground: white
emacs.background: #1f1f1f
emacs.cursorColor: green

urxvt*urgentOnBell: true
urxvt*font: xft:Source Code Pro:size=11
urxvt*boldItalicFont: xft:Source Code Pro:size=11
urxvt*italicFont: xft:Source Code Pro:size=11
urxvt*foreground: white
urxvt*background: #1f1f1f
urxvt*color4: SkyBlue4
urxvt*color12: SkyBlue3
urxvt*saveLines: 5000
urxvt*scrollBar: false
urxvt*preeditStyle: OverTheSpot,Root,None
urxvt*print-pipe: cat > $(TMPDIR=$HOME mktemp urxvt.XXXXXX)
urxvt*geometry: 120x35
urxvt*iconFile: /usr/share/icons/gnome/256x256/apps/utilities-terminal.png
urxvt*perl-ext-common: default,matcher
urxvt*url-launcher: /usr/bin/google-chrome-stable
urxvt*matcher.button: 1

rxvt*urgentOnBell: true
rxvt*font: xft:Source Code Pro:size=11
rxvt*boldItalicFont: xft:Source Code Pro:size=11
rxvt*italicFont: xft:Source Code Pro:size=11
rxvt*foreground: white
rxvt*background: #1f1f1f
rxvt*color4: SkyBlue4
rxvt*color12: SkyBlue3
rxvt*saveLines: 5000
rxvt*scrollBar: false
rxvt*preeditStyle: OverTheSpot,Root,None
rxvt*print-pipe: cat > $(TMPDIR=$HOME mktemp rxvt.XXXXXX)
rxvt*geometry: 120x35
rxvt*iconFile: /usr/share/icons/gnome/256x256/apps/utilities-terminal.png
rxvt*perl-ext-common: default,matcher
rxvt*url-launcher: /usr/bin/google-chrome-stable
rxvt*matcher.button: 1
 
rxvt-unicode*urgentOnBell: true
rxvt-unicode*font: xft:Source Code Pro:size=11
rxvt-unicode*boldItalicFont: xft:Source Code Pro:size=11
rxvt-unicode*italicFont: xft:Source Code Pro:size=11
rxvt-unicode*foreground: white
rxvt-unicode*background: #1f1f1f
rxvt-unicode*color4: SkyBlue4
rxvt-unicode*color12: SkyBlue3
rxvt-unicode*saveLines: 5000
rxvt-unicode*scrollBar: false
rxvt-unicode*preeditStyle: OverTheSpot,Root,None
rxvt-unicode*print-pipe: cat > $(TMPDIR=$HOME mktemp rxvt-unicode.XXXXXX)
rxvt-unicode*geometry: 120x35
rxvt-unicode*iconFile: /usr/share/icons/gnome/256x256/apps/utilities-terminal.png
rxvt-unicode*perl-ext-common: default,matcher
rxvt-unicode*url-launcher: /usr/bin/google-chrome-stable
rxvt-unicode*matcher.button: 1
yeahconsole*xOffset: 0
yeahconsole*screenWidth: 1920
yeahconsole*term: urxvt
yeahconsole*consoleHeight: 35
yeahconsole*toggleKey: None+F2
yeahconsole*aniDelay: 0
yeahconsole*stepSize: 25
yeahconsole*urgentOnBell: true
yeahconsole*font: xft:Source Code Pro:size=11
yeahconsole*boldItalicFont: xft:Source Code Pro:size=11
yeahconsole*italicFont: xft:Source Code Pro:size=11
yeahconsole*foreground: white
yeahconsole*background: #1f1f1f
yeahconsole*color4: SkyBlue4
yeahconsole*color12: SkyBlue3
yeahconsole*saveLines: 5000
yeahconsole*scrollBar: false
yeahconsole*preeditStyle: OverTheSpot,Root,None
yeahconsole*print-pipe: cat > $(TMPDIR=$HOME mktemp yeahconsole.XXXXXX)
yeahconsole*perl-ext-common: default,matcher
yeahconsole*url-launcher: /usr/bin/google-chrome-stable
yeahconsole*matcher.button: 1
URxvt.letterSpace: -1

Xft.dpi:        96
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! Zenburn color-scheme
*background              :#1f1f1f
*foreground              :#dcdccc

! #1f1f1f + red
!*color0                 :#3f3f3f
*color0                  :#1f1f1f
*color1                  :#705050

! green + yellow
*color2                  :#60b48a
*color3                  :#dfaf8f

! blue + purple
*color4                  :#506070
*color5                  :#dc8cc3

! cyan + white
*color6                  :#8cd0d3
*color7                  :#dcdccc

! bright-#1f1f1f + bright-red
*color8                  :#709080
*color9                  :#dca3a3

! bright-green + bright-yellow
*color10                 :#c3bf9f
*color11                 :#f0dfaf

! bright-blue + bright-purple
*color12                 :#94bff3
*color13                 :#ec93d3

! bright-cyan + bright-white
*color14                 :#93e0e3
*color15                 :#ffffff
